{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://c0.wallpaperflare.com/preview/269/997/84/bright-close-up-colorful-colors.jpg" type="image/png/jpg" rel="icon"
    type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Help | Mi Amor </title>
</head>
    <body id="bod" class="help"
        style="background-image: url(/static/images/Screenshot\ 2023-01-08\ 115035\ copy.png);background-size: auto; background-repeat: no-repeat;">





        <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'assets/js/uikit.js' %}"></script>
        <script src="{% static 'assets/js/simplebar.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

    </body>
</html>